.App {
  text-align: center;
  .context {
    width: 100%;
    position: absolute;
    top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .pulse-base {
      position: relative;
      height: 20px;
      width: 20px;
      border: 10px solid transparent;
      border-radius: 50%;
      margin: 0 auto;

      &.pulse-circle {
        background: #86cfda;
      }

      &:before {
        content: "";
        border: 10px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: absolute;
        left: -20px;
        bottom: -20px;
        animation: pulsate 1.6s ease-out;
        animation-iteration-count: infinite;
        opacity: 0;
        z-index: 99;
      }

      @keyframes pulsate {
        0% {
          transform: scale(0.6, 0.6);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: scale(1, 1);
          opacity: 0;
        }
      }

      @keyframes heart-pulse {
        0% {
          transform: scale(0.75, 0.75);
        }
        30% {
          transform: scale(1, 1);
        }
      }
    }

    /* DEMO-SPECIFIC STYLES */
    .typewriter {
      width: fit-content;
      h1 {
        color: #fff;
        font-family: monospace;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 0.15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 0.15em; /* Adjust as needed */
        animation: typing 3.5s steps(30, end),
          blink-caret 0.5s step-start infinite;
      }

      /* The typing effect */
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }

      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: orange;
        }
      }
    }
  }

  .area {
    // background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;

    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .circles li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;
    }

    .circles li:nth-child(1) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
    }

    .circles li:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }

    .circles li:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
    }

    .circles li:nth-child(4) {
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
    }

    .circles li:nth-child(5) {
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }

    .circles li:nth-child(6) {
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
    }

    .circles li:nth-child(7) {
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
    }

    .circles li:nth-child(8) {
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }

    .circles li:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }

    .circles li:nth-child(10) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }

    @keyframes animate {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
      }

      100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
      }
    }
  }
}
